  .dots-wrapper {
    position: absolute;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    bottom: 20px;
    text-align: center;
    li {
      display: inline-block;
      width: 12px;
      height: 12px;
      background-color: rgb(74, 166, 228);
      border-radius: 50%;
      margin: 0 4px;
      opacity: 0.5;
      cursor: pointer;
      transition: opacity 0.3s;
      &.active,
      &:hover {
        opacity: 1;
      }
    }
  }
  .slider {
    position: relative;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    overflow: hidden;
    .slider-inner {
      align-self: center;
      justify-content: center;
      position: absolute;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      .slide {
        float: left;
        img {
          display: block;
          align-self: center;
          justify-content: center;
          width: 90%;
        }
        span {
          cursor: default;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          display: block;
          width: 100vw;
          height: 100vh;
          top: 12vw;
          font-size: 10vw;
          line-height: 100vh;
          letter-spacing: 1vw;
          font-family: Impact, Charcoal, sans-serif;
          text-shadow: 5px 5px 0px #ffffff;
        }
      }
    }
  }

  .header_title{
    font-family: CooperBT,serif;
    font-size: 30px;
    text-align: center;
 }

 .carousel_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 31px 0 31px;
}
