.CarouselDesktop {
    display: flex;
    height: 100%;
    align-self: center;
    margin: 0 80px;
    width: 100%;
    padding-bottom: 5px;
    overflow: hidden;
    position: relative;
}

.DesktopContainer{
    display: none;
}

.SlideShowContainerDesktop{
    position: relative;
    display: flex;
    left: 0;
}

.PhotoDesktop{
    flex-direction: column;
    width: 300%;
    align-self: center;
    border-radius: 45px;
    float: left;
    display: inline-flex;
    margin: 0 40px 8px 40px;
    padding: 0 10px;
    align-self: flex-start;
}

.PhotoDesktopThree{
    margin: 0 30px 8px 30px;
}

.CarouselImage{
    align-self: center;
    border-radius: 55px;
    width: 100%;
}

.Wrapper{
    overflow: hidden;
}

@media (min-width: 1040px) {
    .DesktopContainer{
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-self: center;
    }
}