.ContainerText {
    margin-right: 10px;
    margin-left: 10px;
}

.CarrouselTitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.35;
    text-align: center;
    color: #252525;
}

.CarrouselDescription {
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    color: #2a2a2a;
}