.CarouselTablet {
    display: none;
    overflow: hidden;
    margin-top: 0px;
}

.SlideshowContainerTable {
    position: relative;
}

.SliderMoveTablet {
    width: 150%;
    display: flex;
}

.StepContainerImagesTable{
    width: 100%;
    display: flex;
    padding: 0 2% 0 2%;
}

.MoonsImageTwoTable {
    align-self: center;
    border-radius: 44px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 495px;
}

.OneImageTable {
    align-self: center;
    width: 305px;
    border-radius: 63px;
    box-shadow: 5px 5px 15px 0 rgba(0,0,0,.2);
}

.SliderActive {
    border: none;
    width: 10px;
    height: 10px;
    background-color: #99bffc;
    border-radius: 5px;
    opacity: .5;
    z-index: 100;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
}

.SliderBootOut {
    align-self: center;
    bottom: 5px;
    z-index: 1;
    height: 20px;
    text-align: center;
    margin-top: 5%;
}

.SliderBotton {
    border: none;
    transition: opacity .25s;
    width: 6px;
    height: 6px;
    background-color: #d8d8d8;
    border-radius: 3px;
    opacity: .5;
    z-index: 100;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
}

@media (min-width: 700px) {
    .CarouselTablet {
        display: initial;
        overflow-x: hidden;
    }
}

@media (min-width: 750px) {
    .OneImageTable{
        width: 330px;
    }
}

@media (min-width: 800px) {
    .OneImageTable{
        width: 366px;
    }
}

@media (min-width: 850px) {
    .OneImageTable{
        width: 385px;
    }
}

@media (min-width: 928px) {
    .OneImageTable{
        width: 400px;
    }
}

@media (min-width: 978px) {
    .OneImageTable{
        width: 430px;
    }
    .MoonsImageTwoTable {
        height: 520px;
    }
}
@media (min-width: 1024px) {
    .OneImageTable{
        width: 448px;
    }
    .MoonsImageTwoTable {
        height: 530px;
    }
}

@media (min-width: 1040px) {
    .CarouselTablet {
        display: none;
    }
}