.CarouselTablet {
    display: none;
    overflow-x: hidden;
    margin-top: 0px;
    margin: 0 80px;
}

.SlideshowContainerTable {
    position: relative;
}

.SliderMoveTablet {
    width: 150%;
    transform: translateX(0%);
    display: flex;
}

.StepContainerImagesTable{
    width: 240px;
    display: flex;
    margin: 0 16px 8px 16px;
}

.MoonsImageTwoTable {
    align-self: center;
    border-radius: 44px;
    display: flex;
    height: 450px;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 5px 5px 15px 0 rgba(0,0,0,.2);
}

.OneImageTable {
    align-self: center;
    width: 305px;
}

.Circle {
    width: 85px;
    height: 85px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    position: absolute;
    color: white;
    font-size: 26px;
    text-align: center;
    margin-top: 20%;
    z-index: 100;
}

.Prev {
   left: 0rem;
   margin-left: 50px;
}

.Next {
   right: 0rem;
   margin-right: 40px;
}

@media (min-width: 700px) {
    .CarouselTablet {
        display: flex;
        overflow-x: hidden;
    }
}

@media (min-width: 750px) {
    .StepContainerImagesTable{
        width: 270px;
    }
    .MoonsImageTwoTable {
        height: 420px;
    }
}

@media (min-width: 800px) {
    .StepContainerImagesTable{
        width: 300px;
    }
    .MoonsImageTwoTable {
        height: 440px;
    }
}

@media (min-width: 850px) {
    .StepContainerImagesTable{
        width: 320px;
    }
    .MoonsImageTwoTable {
        height: 450px;
    }
    .Next{
        margin-right: 55px;
    }
}

@media (min-width: 928px) {
    .StepContainerImagesTable{
        width: 350px;
    }
    .MoonsImageTwoTable {
        height: 490px;
    }
    .Next{
        margin-right: 50px;
    }
}

@media (min-width: 978px) {
    .StepContainerImagesTable{
        width: 380px;
    }
    .MoonsImageTwoTable {
        height: 520px;
    }
    .Next{
        margin-right: 45px;
    }
}
@media (min-width: 1024px) {
    .StepContainerImagesTable{
        width: 396px;
    }
}

@media (min-width: 1040px) {
    .CarouselTablet {
        display: none;
    }
}