.CarouselDesktop {
    display: none;
}

.PhotoDesktop{
    flex-direction: column;
    align-self: center;
    border-radius: 21px;
    float: left;
    display: inline-flex;
    box-shadow: 5px 5px 15px 0 rgba(0,0,0,.2);
    margin: 3%;
    width: 319px;
    height: 415px;
}

.CarouselImage{
    align-self: center;
    width: 100%;
}

.ButtonsDesktop{
    position: absolute;
    margin-top: 200px;
    width: 997px;
    display: flex;
    height: 415px;
}

.Circle {
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    color: white;
    font-size: 26px;
    text-align: center;
}

.Prev {
   left: 2rem;
}

.Next {
   right: 2rem;
   margin-left: 85%;
}

@media (min-width: 1040px) {
    .CarouselDesktop {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        height: 100%;
        align-self: center;
    }
}